
run = "python main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80
